h1,h2,h3 {
    font-family: 'Ubuntu', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color:#FDFDFD;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  border: none;
}

.btn {
    margin: 10px;
}

.jumbotron {
  background-color:transparent;
}

.intro-header {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  background:url("http://i.imgur.com/tz8RNWA.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display:table;
}

.centerize {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.about-me {
  padding: 50px;
  position: relative;
}

.about-me h2 {
    text-align: center;
}

.about-me div p, .about-me div ul {
    text-indent: 2em;
    font-size: 175%;
    text-align: left;
}

.about-me hr {
    width: 40px;
    margin-bottom: 45px;
    border-color: black;
}

hr {
  border-color: black;
}

.portfolio {
  padding: 50px;
}

.portfolio hr {
    width: 40px;
    margin-bottom: 45px;
    border-color: black;
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 15px;
}

.contact {
  height:100vh;
  background-color:#222;
  color: white;
  text-align:center;
  padding-top: 10%;
  padding-bottom: 13%;
  padding-left: 13%;
  padding-right: 13%;
}

.contact hr {
    width: 40px;
    margin-bottom: 45px;
    border-color: black;
}

.contact a {
  margin:1%;


}

.contact a:hover {
  color: #64b5f6;
}


#btm-img {
  border-radius: 50%;
  height: 300px;
  padding-top: -20px;
  margin-top: -20px;
}

#portfolio-gallery {
  max-width: 100%;
}

.item {
  padding-left: 10%;
}

.container-fluid {
  background: #af3131;
}

.col-lg-offset-1 {
  margin-left: 3%;
}

.intro-header div h1 {
  color: #af3131;
  font-weight: 600;
}

.intro-header div p {
  color: #f9f9f9;
  font-weight:400
}

ul {
  list-style: none;
  padding-left: 0;
}

#about-img {
    max-width: 100%;
    max-height: 100%;
}

#icons {
    background: rgba(0, 0, 0, 0.3);
    max-width: 35px;
    min-width: 25px;
}
